workflows/manychat-instagram-dm-funnel.json
{
  "name": "ManyChat Instagram DM Funnel",
  "nodes": [
    {
      "id": "sticky-instructions",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.sticky",
      "typeVersion": 1,
      "position": [
        100,
        -250
      ],
      "parameters": {
        "width": 600,
        "height": 240,
        "content": "### 📸 MANYCHAT INSTAGRAM DM FUNNEL INTEGRATION SOP\nThis workflow captures Instagram DM qualification triggers (comments, story replies, direct keywords), scores lead value, updates Brevo CRM, and delivers dynamic cards/buttons back to Instagram via the sendContent API.\n\n#### 🔑 Required Credentials:\n- **Brevo CRM API Key**: Authorization to lookup and create contacts.\n- **Slack Webhook URL**: Channel webhook to notify sales of new hot Instagram leads.\n- **ManyChat Access Token**: Dynamic API access key (authorized for Instagram channel).\n\n#### ⚙️ Environment Variables:\n- `BREVO_API_KEY`: Key to sync leads to Brevo.\n- `SLACK_WEBHOOK_URL`: Target channel webhook for notifications.\n- `MANYCHAT_API_KEY`: Key to push dynamic messages to Instagram.\n\n#### 🧪 Testing Protocol:\n1. Copy the webhook URL and register it in ManyChat under a story reply or keyword comment trigger flow.\n2. Interact with your Instagram business page as a user and submit the qualifying responses.\n3. Verify n8n returns an instant 200 OK, calculates the ICP score, syncs the record to Brevo, and pushes a dynamic card with a \"Schedule Now\" button back to the Instagram chat window.\n\n---\n*Upsell Note: To build conversational AI agents or scale your agency automation stack, consult our team at whoisalfaz.me.*"
      }
    },
    {
      "id": "webhook-ingest",
      "name": "Webhook Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "path": "manychat-ig-funnel-ingress",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "all"
      }
    },
    {
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        250,
        100
      ],
      "parameters": {
        "statusCode": 200,
        "responseBody": "{\n  \"status\": \"received\"\n}",
        "options": {}
      }
    },
    {
      "id": "lead-scorer",
      "name": "Lead Scorer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        500,
        100
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst budget = body.ig_budget_range || '';\nconst timeline = body.ig_timeline || '';\nconst teamSize = body.ig_team_size || '';\nconst painPoint = body.ig_pain_point || '';\n\nlet score = 0;\n\n// Budget scoring\nif (budget === '$15k+')         score += 40;\nelse if (budget === '$5–15k')   score += 25;\nelse if (budget === '$1–5k')    score += 10;\n\n// Timeline scoring\nif (timeline === 'This week')       score += 30;\nelse if (timeline === 'This month') score += 15;\n\n// Team size scoring\nif (teamSize === '21–50' || teamSize === '50+') score += 20;\nelse if (teamSize === '6–20')                   score += 10;\n\n// Pain point scoring\nif (painPoint === 'Automation' || painPoint === 'CRM Setup') score += 10;\n\nconst tier = score >= 70 ? 'Hot' : score >= 40 ? 'Warm' : 'Cold';\nconst crmTag = `ig_${tier.toLowerCase()}_lead`;\n\nreturn [{\n  json: {\n    subscriber_id: body.subscriber_id,\n    first_name: body.first_name,\n    email: body.ig_email || body.email,\n    ig_handle: body.instagram_username || 'Unknown',\n    ig_team_size: teamSize,\n    ig_budget_range: budget,\n    ig_pain_point: painPoint,\n    ig_timeline: timeline,\n    lead_score: score,\n    lead_tier: tier,\n    crm_tag: crmTag,\n    scored_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "brevo-crm-upsert",
      "name": "Brevo CRM Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY || 'YOUR_BREVO_API_KEY' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "{\n  \"email\": \"={{ $json.email }}\",\n  \"attributes\": {\n    \"FIRSTNAME\": \"={{ $json.first_name }}\",\n    \"INSTAGRAM_ID\": \"={{ $json.subscriber_id }}\",\n    \"INSTAGRAM_HANDLE\": \"={{ $json.ig_handle }}\",\n    \"TEAM_SIZE\": \"={{ $json.ig_team_size }}\",\n    \"BUDGET_RANGE\": \"={{ $json.ig_budget_range }}\",\n    \"PAIN_POINT\": \"={{ $json.ig_pain_point }}\",\n    \"TIMELINE\": \"={{ $json.ig_timeline }}\",\n    \"LEAD_SCORE\": \"={{ $json.lead_score }}\",\n    \"LEAD_TIER\": \"={{ $json.lead_tier }}\"\n  },\n  \"listIds\": [14],\n  \"updateEnabled\": true,\n  \"tags\": [\"={{ $json.crm_tag }}\", \"instagram-lead\"]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "onError": "continueWorkflow"
    },
    {
      "id": "if-hot-lead",
      "name": "If Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.lead_tier }}",
              "operation": "equal",
              "value2": "Hot"
            }
          ]
        }
      }
    },
    {
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/YOUR_WEBHOOK_HERE' }}",
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "{\n  \"text\": \"🔥 *Hot Instagram Lead Captured*\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*{{ $json.first_name }}* (@{{ $json.ig_handle }})\\n*Email:* {{ $json.email }}\\n*Budget:* {{ $json.ig_budget_range }} | *Timeline:* {{ $json.ig_timeline }}\\n*Score:* {{ $json.lead_score }}/100 — {{ $json.lead_tier }}\"\n      }\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      }
    },
    {
      "id": "manychat-pause-bot",
      "name": "ManyChat Pause Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MANYCHAT_API_KEY || 'YOUR_MANYCHAT_API_KEY' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "{\n  \"subscriber_id\": \"={{ $json.subscriber_id }}\",\n  \"field_id\": \"={{ $env.MANYCHAT_BOT_PAUSED_FIELD_ID || 11223344 }}\",\n  \"field_value\": \"true\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      }
    },
    {
      "id": "manychat-ig-push-content",
      "name": "ManyChat IG Push Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/ig/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MANYCHAT_API_KEY || 'YOUR_MANYCHAT_API_KEY' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "{\n  \"subscriber_id\": \"={{ $json.subscriber_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Hi! Thanks for the details. You are pre-qualified for a custom RevOps strategy call. Let's get you booked!\",\n          \"buttons\": [\n            {\n              \"type\": \"url\",\n              \"caption\": \"Schedule Call\",\n              \"url\": \"https://whoisalfaz.me/contact\"\n            }\n          ]\n        }\n      ]\n    }\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      }
    },
    {
      "id": "manychat-ig-standard-push",
      "name": "ManyChat IG Standard Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/ig/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MANYCHAT_API_KEY || 'YOUR_MANYCHAT_API_KEY' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "{\n  \"subscriber_id\": \"={{ $json.subscriber_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Hi! Thanks for the details. We've logged your request and will follow up shortly.\"\n        }\n      ]\n    }\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Ingest": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Lead Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Scorer": {
      "main": [
        [
          {
            "node": "Brevo CRM Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brevo CRM Upsert": {
      "main": [
        [
          {
            "node": "If Hot Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Hot Lead?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ManyChat IG Standard Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert": {
      "main": [
        [
          {
            "node": "ManyChat Pause Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ManyChat Pause Bot": {
      "main": [
        [
          {
            "node": "ManyChat IG Push Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {}
}
